extends ../../layout/default
include ../../mixins/aside/index


block main
   .products
    .container
      .row
        .col-md-12
          - if (messages.success)
             div(class='alert alert-success' id='alert-status') #{messages.success}
         
          h1 Products
          br 
          .filter
           each button in filterStatus 
            button.btn.btn-primary(class=button.class, type="submit", button-filter=button.value)= button.name

          form.form-search
            input.form-control(type="text", placeholder="Search", name="search",value=search)
            button.btn.btn-primary(type="submit") Search
             
          form(id='filter-status' action='/admin/products/changeStatusMulti' method='POST').mb-3
           div(class="row mt-3")
            div(class="col-3")
              select(class="custom-select mr-sm-2", name="status", id="inlineFormCustomSelect")
                option(value="active" id='option-status') Active
                option(value="inactive" id='option-status') Inactive
            div(class="col-3 d-none")    
              <label class="sr-only" for="inlineFormInputName">Name</label>
              <input type="text" class="form-control" name='ids' value='' id="inlineFormInputName" placeholder="">    
            div(class="col-3")
              button.btn.btn-primary(type="submit" id='button-submit-change') submit
            div(class='col-3')
              a(href="/admin/products/create" type="button" class="btn btn-success") Them moi
          table.table(id='form-change-multi')
            thead
              tr
                th(scope='col')
                  input(type='checkbox', id='checkAll')
                th(scope='col') STT
                th(scope='col') Hinh anh
                th(scope='col') ten san pham
                th(scope='col') gia
                th(scope='col') trang thai
                th(scope='col') hanh dong
            tbody
                each product,index in products
                  tr
                    
                    td 
                      input(type='checkbox', class='checkItem', value=product.id)
                    th(scope='row') #{(pagination.currentPage - 1)*2 + index+1}
                    td 
                      img(src=product.thumbnail alt=product.title style='width: 50px; height: 50px;')
                    td #{product.title}
                    td #{product.price}
                    if(product.status =='active')
                      td 
                        a(href='javascript:;' class="badge badge-success" statusId=product.id buttonStatus=product.status) Active
                    else
                      td 
                        a(href='#' class="badge badge-danger" statusId=product.id buttonStatus=product.status) Inactive

                    td 
                      a.btn.mr-2.btn-info(href=`/admin/products/detail/${product.id}`) Detail
                      a.btn.mr-2.btn-primary(href=`/admin/products/edit/${product.id}`) Edit
                      a.btn.btn-danger(href='javascript:;' id='button-delete' deleteId=product.id) Delete

block aside
    +aside()

    nav(aria-label='Page navigation example')
      ul.pagination
        li(class=`page-item ${pagination.currentPage === 1 ? 'disabled' : ''}`)
          a.page-link(href='#', aria-label='Previous', button-pagination=pagination.currentPage-1)
            span(aria-hidden='true') &laquo;
        li(class=`page-item active`)
          a.page-link(href='#', button-pagination=pagination.currentPage) #{pagination.currentPage}
        li(class=`page-item ${pagination.currentPage === pagination.pages ? 'disabled' : ''}`)
          a.page-link(href='#', aria-label='Next', button-pagination=pagination.currentPage+1)
            span(aria-hidden='true') &raquo;


      form(
        action='',
        method='POST',
        id='delete-form',
        data-src='/admin/products/delete/'
      )